services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - GEOLITE_LICENSE_KEY=${GEOLITE_LICENSE_KEY}
    command: bun --watch --poll run index.ts
    volumes:
      - ..:/repo
      - /repo/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  worker:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - GEOLITE_LICENSE_KEY=${GEOLITE_LICENSE_KEY}
    command: bun --watch --poll run workers.ts
    volumes:
      - ..:/repo
      - /repo/node_modules
    depends_on:
      - postgres
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6378:6379"

volumes:
  pg_data:
