services:
  api:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - GEOLITE_LICENSE_KEY=${GEOLITE_LICENSE_KEY}
    command: bun --watch --poll run index.ts
    volumes:
      - ..:/repo
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PRISMA_CLIENT_ENGINE_TYPE: library
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/app
      SENTRY_DNS: ${SENTRY_DNS}
      SENTRY_ENABLED: true

  worker:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - GEOLITE_LICENSE_KEY=${GEOLITE_LICENSE_KEY}
    command: bun --watch --poll run workers.ts
    volumes:
      - ..:/repo
    depends_on:
      - postgres
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PRISMA_CLIENT_ENGINE_TYPE: library
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/app
      SENTRY_DNS: ${SENTRY_DNS}
      SENTRY_ENABLED: true

  analytics-worker:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        - GEOLITE_LICENSE_KEY=${GEOLITE_LICENSE_KEY}
    command: bun --watch --poll run app/analytics-worker/analyticsWorker.ts
    volumes:
      - ..:/repo
    depends_on:
      - worker
      - postgres
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      PRISMA_CLIENT_ENGINE_TYPE: library
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/app
      SENTRY_DNS: ${SENTRY_DNS}
      SENTRY_ENABLED: true

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6378:6379"

